.contaner {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  color: #003968;
}

.para {
  margin: auto;
  width: 80%;
  margin-top: 10px;
  color: #907b0f;
  font-size: 17px;
}

.imgDiv {
  margin: auto;
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 1180px) {
  .contaner {
    margin-top: 50px;
    width: 90%;
  }
  .para {
    width: 90%;
  }
  .imgDiv {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .contaner {
    margin-top: 20px;
    width: 90%;
  }
  .para {
    width: 100%;
  }
  .imgDiv {
    width: 100%;
    justify-content: center;
  }
}
