body {
  margin: 0px;
  padding: 0px;
  background-color: #fffbe7;
}

.container {
  margin: auto;
  margin-top: 10px;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
}
